/* colors.css */
body {
  background-color: #282A36;
  color: #F8F8F2;
  font-family: 'Fira Code', monospace;
}

.button {
  background-color: #BD93F9;
  border: 0px;
  width: 20rem;
  height: 2rem;
  color: #F8F8F2;
  font-weight: bold;
}

.text {
  color: #F8F8F2;
}

.alt_text {
  color: #F1FA8C;
}

.text_box {
  background-color: #44475A;
  border: 0px;
  color: #F8F8F2;
}

.error_box {
  background-color: #FF5555;
  border: 1px solid #CC4444;
  color: #F8F8F2;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

h1 {
  color: #F8F8F2;
}