body {
    margin: 0; /* Reset default margin for consistent padding */
}

.user-info {
    padding: 10px; /* Adjust the pixel value as needed */
    /* Create a container element (optional for better styling) */
    margin: 0 auto; /* Center horizontally */
    width: fit-content; /* Adjust width as needed */
    text-align: center; /* Center text elements within */
  }

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex; /* Enable Flexbox for vertical alignment */
  justify-content: center; /* Center horizontally within container */
  align-items: center; /* Center vertically within container */
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}