body {
    margin: 0; /* Reset default margin for consistent padding */
}

a {
  color: #F8F8F2; /* Change link color to F8F8F2 */
  text-decoration: none; /* Remove underline from links */
  font-weight: bold; /* Make the text bold */
}

.user-info {
    padding: 10px; /* Adjust the pixel value as needed */
    margin: 0 auto; /* Center horizontally */
    width: fit-content; /* Adjust width as needed */
    text-align: center; /* Center text elements within */
  }

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; /* Center horizontally */
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}