.answer {
    background-color: #44475A;
    border: 0.5px solid #F8F8F2;
    width: 40rem;
    margin: 0 auto;
    margin-bottom: 10px;
}

.question {
    margin: 0.5rem;
    margin-bottom: 0rem;
}

.author {
    margin-top: 0;
    font-size: 0.8rem;
    color: lightblue;
    margin-left: 10px;
}

.date {
    font-style: italic;
    color: lightgrey;
    font-size: 0.8rem;
    margin-left: 10px;
    margin-bottom: 0;
}